//imports
@import "partials/reset";
@import "partials/variables";

//styling
*::selection{
	background-color:$accent;
	color:black;
}

::-webkit-scrollbar {
	width:10px;
}
::-webkit-scrollbar-thumb{
	background:$accent;
	border-radius:1px;
}

nav {
	display:flex;
	position:fixed;
	height:4rem;
	top:0;
	left:0;
	width:100%;
	justify-content: space-between;
	align-items: center;
	background-color: $darkBlue;
	text-decoration:none;
	text-transform: uppercase;
	box-sizing: border-box;
	padding: 0rem 10%;
	z-index: 99999;

	#menuBtn {
		display:none;
	}
	#menuLinks {
		display:inline-block;
	}
	
	.logo {
		font-family:$poppins;
		color:white;
	}
	
	a, li {
		color:white;
		font-family: $poppins;
		text-decoration: none;
		display:inline-block;
		padding: 0% .75rem;

	}

	li {
		:visited {
			color:white;
		}
		:hover {
			color:$accent; 
		}
		:active {
			color:$accent;
		}
	}

	
	> ul {
		margin:0;
		> li > a {
			padding-top:1rem;
			padding-bottom:1rem;
		}
	}
	
		> a {
			color:black;
		}
}

div.btn {
	background:$blueGradient;
	display:inline-block;
	border:none;
	padding:.5rem 1rem;
	text-decoration:none;
	border-radius: 50px;
	-moz-border-radius:50px;
	&:hover {
		background:$darkBlueGradient;
		@include transition; 
		@include shadowHover;  
		> a {
			@include transition;
			color:white;
		} 
	}
	&:active {
		background-color:darken($accent,40%);
		@include quickTransition;
		> a {
			@include quickTransition;
			color:white;
		}
	}
	> a {
		text-decoration:none;
		color:black;
		text-transform: uppercase;
		font-family:$poppins;
	}
}

h1 {
	@include poppinsBold;
}
h2 {
	font-size:3rem;
	@include poppinsBold;
	margin:0;
}

h3 {
	font-size: 2rem;
	@include poppinsBold;
}

header {
	width:100%;
	height:100vh;
	margin:0;
	background-color:$primaryBlue;


	h1 {
		@include poppinsBold;
		position: absolute;
		line-height: 2rem;
		top: 50%;
		left:50%;
		transform:translate(-50%,-50%);
		z-index:5;
		color:$accent;
		text-transform: uppercase;
		opacity: 0.7;
		font-size:7rem;
		line-height:4.95rem;
		text-align:center;

	}

	.heroImg {
		filter:grayscale(100%);
		mix-blend-mode:multiply;
		width:100%;
		height:100%;
		@include background(top);

	}
}

main {
	background-color:$lightGray;
	padding:2rem 1.5rem;
	
	&.grid-1{
		display:grid;
		grid-template-columns:repeat(3,1fr);
		grid-template-rows:repeat(3,max-content);
		grid-auto-flow: row;
		grid-gap:1rem;

		article {
			border-radius:.5rem;
			@include shadow;

			&:hover {
				@include shadowHover;
			}

			

			.container {
				display:grid; 
				padding:5%;
			}


			&:nth-child(1) {/*hráči*/
				grid-column: 1 / span 2;
				color:white;
				background:url(../img/cards/players.png);
				background-size:cover;
				background-position:top;
			}
			&:nth-child(2) {/*rekordman*/
				background-color:$darkGray;
				background:url(../img/widgets/records/gretzky.png);
				background-size:cover;
				background-position:top;
				color:white;
			}

			&:nth-child(3) { /*ligy*/
				grid-column: 2 / span 2;
				background:url(../img/cards/league.png);
				@include background(top);
				color:white;

			}
			&:nth-child(4){/*odpočet*/
				grid-column:1 / span 1;
				grid-row: 2 / span 1;
				background:url(../img/widgets/countdown.png);
				@include background(center);
				color:white;

				
			}
			&:nth-child(5){/*týmy*/
				grid-column:1 / span 2;
				grid-row: 3/ span 1;
				color:white;
				background:url(../img/cards/teams.png);
				@include background(bottom);
			}

			&:nth-child(6){/*pravidla*/
				background:url(../img/widgets/rules.png);
				@include background(top);
				color:white;
			}

			.centerContainer {
				display:flex;
				justify-content:center;
			}
			div.btn{
				border:none;
				margin: 1rem auto;
				text-align:center;
			}
			h3 {
				text-align: center;
				padding-top:.5rem;
				z-index:8;
			}
			
			#odpocet {
				font-weight:bold;
				color:$accent;
			}

			p {
				font-family:$roboto;
				font-size:1.5rem;
				margin:1rem 3rem;
				
				a {
					color:$accent;
					&:hover{
						color:darken($accent,10%);
					}
					&:visited {
						color:$accent;
					}
				}

			}
			
		}
	}
	table.players {
		width:100%;
		text-align:center;
		border:none;
		background-color:white;
		border-collapse:collapse;
		border-radius:20px;

		thead tr {
			background-color:$darkBlue;
			@include poppinsBold;
			border-radius: 20px;
			font-size:1.2rem;
			color:white;

			th {
				padding:10px 0;
			}
		}


		tbody {
			font-size:1rem;
			.mainInfo {
				@include poppinsBold;

			}
			td > a {
				color:$darkGray;
				text-decoration:none;
			}
			td:not(.mainInfo){
				@include poppinsLight;
			}

			tr {
				border-bottom: 1px solid #ccc;
				
				&:hover {
					background-color:lighten($accent,20%);

				}

				&:last-of-type {
					border-bottom: 4px solid $darkBlue;
				}
				&:nth-of-type(even){
					background-color:$lightGray;
				}
			}
		}
	}
	.avatarBig {
		width:150px;
		height:auto;
		border-radius: 50%;
	}
	.avatar {
		width:65px;
		height:auto;
		border-radius: 50%;
	}

	.profileCardGrid {
		display:grid;
		grid-auto-flow: row;
		grid-template-rows: auto;
		grid-template-columns:repeat(3,1fr);
		grid-gap:1rem;
		
		.card {
			display:grid;
			border-radius: 20px;
			background-color:white;
			width:100%;
			height:350px;
			grid-template-rows:	150px 150px 50px;
			@include shadow;

			a {
				color:$darkGray;
				text-decoration:none;
				&:visited {
					color:$darkGray;
				}
			}

			&:hover {
				@include shadowHover;
			}
		}

		.avatarBig {
			justify-self:center;
			align-self:center;
		}

		h2 {
			text-align:center;
			align-self:start;
			word-spacing:99999px;
			line-height:1.2em;
		}
		span {
			text-align:center;
			@include poppinsLight;
		}
	}
	.gameLandingPage {
		width:100vw;
		height:100vh;
	}
	input[type=submit]{
		background:$blueGradient;
		display:inline-block;
		border:none;
		padding:.5rem 1rem;
		text-decoration:none;
		border-radius: 50px;
		-moz-border-radius:50px;
		color:white;
	}

	div.game {
		width: 75%;
		padding:10% 0%;
		color:white;
		align-self:center;
		justify-self: center;

		label {
			color:$darkGray;
			font-family: $roboto;
		}

		input[type=text]{
			font-size:1rem;
			padding:0.1rem;
			margin:0 0 20px 0;
		}

	}
}

footer {
	height:max-content;
	display:flex;
	justify-content: center;
	font-family:$poppins;
	background-color:$darkBlue;
	
	a {
		color:white;

		&:visited{
			color:white;
		}
		&:hover{
			color:$accent;
			@include transition2;
		}
	}

	ul li {
		display:inline-block;
		justify-self:center;
		align-self:center;
	}
	span {
		align-self:center;
		justify-self:center;
		color:$accent;
	}
}