@import "partials/variables";
@import "partials/reset";

//styling
body {
    width:100vw;
    height:100vh;
    background-image:url(../img/headers/rink.png);
    @include background(center);
    background-size: cover;
    font-family:$roboto;
}

main {
    width:100vw;
    height: 100vh;
    display:grid;
    grid-template-rows:repeat(8,1fr);
    grid-template-columns:repeat(8,1fr);

}
.btn{
    padding:10px 20px;
    height:40px;
    width:150px;
    background-color:$accent;
    color:white;
    display:inline-block;
}

.avatar {
    width:100px;
    height:auto;
    border-radius: 50%;
    align-self: center;
    justify-self:center;
}



.profile {
    color:$darkGray;
    background-color:white;
    font-family:$poppins;
    margin:10px;
    padding:20px;
    align-content:center;
    justify-content:center;
    display:grid;
    text-align:center;
}

#character {
    grid-row: 2 / span 3;
    grid-column: 2 / span 2;
}
#enemy {
    grid-row:2 / span 3;
    grid-column: 6/ span 2;
}

#outputBox {
    background-color: black;
    color:white;
    grid-row:5 / span 3;
    grid-column: 3 / span 4;
    overflow-y:auto;
}

progress {
    width:120px;
}
.victory{
    color:$accent;
}

