//imports
@import "partials/reset";
@import "partials/variables";

//styling
::-webkit-scrollbar {
	width:10px;
}
::-webkit-scrollbar-thumb{
	background:$accent;
	border-radius:1px;
}

nav {
    display:flex;
    position:fixed;
    background-color: $darkBlue;
    top:0;
    left:0;
    width:100%;
    height:60px;
    padding:2% 4%;
    justify-content: space-between;
    align-content: center;
    color:white;
    box-sizing: border-box;
    z-index:10;
    text-transform: uppercase;
    
    i, a {
        text-align:center;
        text-decoration:none;
        align-self: center;
        padding: 0 .5rem;
        font-family:$poppins;

        color:white;
        &:visitied {
            color:white;
        }
    }

    #menuBtn {
        color:white;
        font-size:1.5rem;
        background:$blueGradient;
    }
    
    .logo {
        padding: 2% 4%;
        font-family:$poppins;
        color:white;
    }

    #menuLinks {
        display:none;
        position:absolute;
        text-align:left;
        top:60px;
        left:0;
        z-index:9;
        background-color:lighten($darkBlue,10%);
        width:100vw;
        list-style-type:none;
        @include quickTransition;
        ul {
            padding:0;
            width:100%;
            list-style-type:none;
        }
        a {
            color:white;
            padding: 1rem 0;
            display:block;
            list-style-type: none;
            width:100%;
            z-index:1;
        }
    }
    .fa-times {
        display:none;
    }

}

header {
    height:100vh;
    width:100%;
    background-color:$primaryBlue;
    margin:0;

    h1 {
        @include poppinsBold;
        color:$accent;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size:4rem;
        text-transform:uppercase;
        text-align:center;
        z-index:5;
        line-height: 2.85rem;

    }
    .heroImg {
        filter:grayscale(100%);
        mix-blend-mode:multiply;
        width:100%;
        height:100%;
        @include background(top);

    }
}
div.btn {
    background:$blueGradient;
    display:inline-block;
    border:none;
    padding:.5rem 1rem;
    text-decoration:none;
    border-radius: 50px;
    -moz-border-radius:50px;

    &:active {
        background:$darkBlueGradient;
    }
    > a {
        color:black;
        text-decoration:none;
        font-family: $poppins;
        text-transform: uppercase;
        &:visited {
            color:white;
            text-decoration:none;
        }
    }
}


main {
    background-color:$lightGray;
    
    &.grid-1{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows:repeat(6,minmax(min-content,max-content));
        grid-gap:1rem;
        padding:1rem 1.5rem;
    }

    article {
        border-radius:.5rem;
        box-sizing:content-box;
        @include shadow;
    
        .container {
            display:grid;
            padding:1rem;
        }
    
        &:nth-child(1){/*hráči*/
            color:white;
            background:url(../img/cards/players.png);
            @include background(top);
        }

        &:nth-child(2){
            background:url(../img/widgets/records/gretzky.png);
            @include background(top);
            color:white;
        }
        &:nth-child(3){
            background: url(../img/cards/league.png);
            @include background(top);
            color:white;
        }
        &:nth-child(4){
            background:url(../img/widgets/countdown.png);
            @include background(center);
            color:white;
        }
        &:nth-child(5){
            background:url(../img/cards/teams.png);
            @include background(bottom);
            color:white;
        }
        &:nth-child(6){
            background:url(../img/widgets/rules.png);
            @include background(center);
            color:white;
        }
        
        .centerContainer{
            display:flex;
            justify-content:center;
        }

        h3 {
            text-align: center;
            padding-top:.5rem;
            font-size:1.5rem;
            @include poppinsBold;
        }

        #odpocet {
			font-weight:bold;
			color:$accent;
        }
        
        p {
            font-family: $roboto;
            font-size:1rem;
            margin:1rem 3rem;
            a {
                color:$accent;
                &:active{
                    color:darken($accent,10%);
                }
                &:visited {
                    color:$accent;
                }
            }
        }
        .btn {
           margin-bottom:2rem;
        }
    }
    .responsiveTable {
        overflow-x:auto;
        width:100%;
    }

    table.players {
        @media screen and (max-width:500px) {
            width:500px;
        }
        width:100%;
        text-align:center;
        background-color:white;
        border-collapse:collapse;
        border:0;

        thead tr {
            background-color:$darkBlue;
            @include poppinsBold;
            font-size:0.75rem;
            color:white;

            th {
                padding:10px 0;
            }
        }
        
        tbody {
            font-size:0.5rem;
            @include poppinsLight;
            .mainInfo {
                @include poppinsBold;
            }

            tr {
                border-bottom: 1px solid #ccc;
                
                &:active{
                    background-color:lighten($accent,20%);
                }
                &:last-of-type {
                    border-bottom: 4px solid $darkBlue;
                }
                &:nth-of-type(even){
                    background-color:$lightGray;
                }
            }
        }
    }
    .avatar {
        width:40px;
        height:auto;
        border-radius:50%;
    }

    .avatarBig {
        width:80px;
        height:auto;
        border-radius:50%;
    }

    .profileCardGrid {
        padding:20px;
        box-sizing:content-box;
        display:grid;
        grid-auto-flow:column;
        grid-template-rows:repeat(2,1fr);
        grid-template-columns:repeat(1,1fr);
        grid-gap:1rem;
        width:calc(100%-20px);


        .card {
            display:grid;
            border-radius:10px;
            background-color:white;
            width:100%;
            height:250px;
            grid-template-rows: 75px 100px 25px;
            @include shadow;
            
            a {
				color:$darkGray;
				text-decoration:none;
				&:visited {
					color:$darkGray;
				}
			}
        }

        .avatarBig {
            justify-self: center;
            align-self:ceneter;
        }
        h2 {
            text-align:center;
            align-self:start;
            word-spacing:9999999px;
            line-height:1.2em;
            font-size:2rem;
            @include poppinsBold;
            
        }
        span {
            text-align:center;
            @include poppinsLight;
        }
    }
    input[type=submit] {
        background:$blueGradient;
        display:inline-block;
        border:none;
        padding:.5rem 1rem;
        text-decoration:none;
        border-radius: 50px;
        -moz-border-radius:50px;
    }
}

footer {
    height:150px;
    text-align:center;
    text-decoration:none;
    background-color:$darkBlue;
    font-family:$poppins;
    
    ul {
        list-style-type:none;
        padding-top:10px;
    }

    a {
        color:white;
        &:visited{
            color:white;
        }
    }
    span {
        color:$accent;
    }
}