//imports
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700|Roboto:300,400,700&display=swap');

//Velikosti obrazovek
$mobile: 425px;
$tablet: 768px;
$desktop: 1024px;

//barvy
$darkGray: #252525;
$darkBlue: #12263F;
$primaryBlue: #093D67;
$vibrantAccent: #43F1E0;
$accent: #4EE1EC;
$lightGray: #EEEFF8;

//přechody 
$blueGradient:linear-gradient(#00B4DB,#0083B0);
$darkBlueGradient: linear-gradient(#3a7bd5,#3a6073);

//písma
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

@mixin robotoLight {
    font-family: $roboto;
    font-weight: 300;
}

@mixin robotoBold {
    font-family: $roboto;
    font-weight: 700;
}

@mixin poppinsLight {
    font-family: $poppins;
    font-weight: 300;
}

@mixin poppinsBold {
    font-family: $poppins;
    font-weight: 700;
}

//přechody
@mixin quickTransition {
    transition: all .25s;
}

@mixin transition {
    transition: all .5s;
}

@mixin transition2 {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

//pozadí
@mixin background($pos){
    background-size:cover;
    background-position:$pos;
}

//stíny
@mixin shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@mixin shadowHover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}